@media (min-width: 576px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

a {
  color: #f8c000;
  text-decoration: none;
  background-color: transparent;
  font-size: 1.2rem;
  padding: 10px;
}
.navbar {
  padding: 0%;
}
.navbar-brand {
  color: white;
  font-size: 1.25em;
}
a:hover {
  background-color: #f8c000;
  color: #2a0a5e;
}
body {
  background-color: #2a0a5e;
}
.h1 {
  color: white;
}
.themecolor {
  color: #2a0a5e;
}
.btn-outline-primary {
  border-color: #2a0a5e;
  border-radius: 25px;
  color: #2a0a5e;
  font-family: "Be Vietnam", sans-serif;
}
.btn-outline-primary:hover {
  background-color: #2a0a5e;
}
.card {
  height: 100%;
}
.h3,
h4 {
  color: #f8c000;
}
li {
  font-size: 18px;
  color: #f8c000;
}
li span {
  font-size: 22px;
  color: white;
}
dt {
  color: white;
}
@media (max-width: 992px) {
  .brand-class {
    text-align: center;
  }
}

dt {
  float: left;
  width: auto;
  text-align: right;
  font-weight: bold;
  color: #f8c000;
  font-size: 20px;
}
dt::after {
  content: ":";
}
dd {
  font-size: 18px;
  margin: 0 0 0 420px;
  padding: 0 0 0.7em 0;
}
.p1 {
  color: #f8c000;
  font-size: 20px;
}
.blink_me {
  animation: blinker 1s linear infinite;
  background-color: #f8c000;
  color: #2a0a5e;
  padding: 15px;
  font-size: 20px !important;
  text-align: center;
  width: 200px;
  height: 50px;
}

@keyframes blinker {
  45% {
    opacity: 0;
  }
}
.card-wrapper {
  margin-bottom: 30px;
}
.card-image .card .card-img-wrapper {
  height: 100%;
}
.card-image .card .card-body {
  display: none;
}
.card-image-title-description .card .card-img-wrapper {
  max-height: 160px;
}
.card-image-title-description .card {
  position: relative;
  min-height: 300px;
}
.card-image-title-description .card .card-body {
  height: auto;
  position: relative;
  top: 0;
  margin-bottom: -70px;
}
.card-image-title-description .card:hover .card-body {
  top: -70px;
}
.card-image-title-description .card .card-body .card-title {
  margin-bottom: 0.75rem;
}
.card {
  display: inline-block;
  position: relative;
  overflow: hidden;
  min-height: 400px;
  height: 100%;
}
.card:hover {
  box-shadow: 8px 12px 31px -10px #ab98ab;
}
.card-img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  overflow: hidden;
}
.card-img-wrapper img {
  transition: 1.5s ease;
}
.card:hover .card-img-wrapper img {
  transform: scale(1.15);
}
.card-body .card-title {
  margin-bottom: calc(50% + 20px);
  transition: 1.5s ease;
}
.card:hover .card-body .card-title {
  margin-bottom: 0.75rem;
}

.card-body {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50%;
  background-color: #fff;
  transition: 1.5s ease;
}
.card-content {
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: auto;
  transition: 1.5s ease;
}
.card:hover .card-body {
  height: 80%;
}
.card:hover .card-content {
  bottom: 0;
}
.blink_me1 {
  animation: blinker 1s linear infinite;
  background-color: #f8c000;
  color: #2a0a5e;
  padding: 15px;
  font-size: 30px !important;
  text-align: center;
}

@keyframes blinker {
  45% {
    opacity: 0;
  }
}
